@model IEnumerable<TPFINAL.Models.Pacientes>

@{
    ViewBag.Title = "Registro de Pacientes";
}

<h2>Registro de Pacientes</h2>

<p>
    @Html.ActionLink("Registrar Nuevo", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.AseguradoNº)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Nombre)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Apellido)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Domicilio)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Ciudad)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Telefono)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Sexo)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.AseguradoNº)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Nombre)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Apellido)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Domicilio)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Ciudad)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Telefono)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Sexo)
        </td>
        <td>
            @Html.ActionLink("Editar", "Edit", new { id=item.Nº_HistorialClinico }) |
            @Html.ActionLink("Detalles", "Details", new { id=item.Nº_HistorialClinico }) |
            @Html.ActionLink("Borrar", "Delete", new { id=item.Nº_HistorialClinico })
        </td>
    </tr>
}

</table>
